<template>

        <p v-if="id == data.showId">
            <strong>Avaliação: </strong><br>
            <strong>Ruído:</strong> {{ data.noise }} <br>
            <strong>Conforto:</strong> {{ data.confort }} <br>
            <strong>Atendimento:</strong> {{ data.attendance }} <br>
            <strong>Preço:</strong> {{ data.price }} <br>
            <strong>Comida:</strong> {{ data.food }} <br>
            <strong>Bebida:</strong> {{ data.drink }} <br>
        </p>
</template>

<script>
    export default {
        props: ['id', 'data'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
