.jumbotron {
    padding: 1rem 0 0 0 ;
    margin: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding: 3rem 0;
    }
}

header .logo {
    height: 1.5rem;
    padding: 0 1rem 0 0;
}

header .user {
    height: 1.5rem;
    padding: 0 0 0 1rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.login {
    color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.jumbotron .container {
    max-width: 40rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search .search_input {
    width: 25rem;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

